@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.item-container {
	display: flex;
	flex-direction: column;
	background-color: #d3d1ee;
	outline: none;
	padding: 2rem;
	border-radius: 10px;
}
.item-content {
	-moz-box-shadow: inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow: inset 0 0 5px #000000;
	border-radius: 10px;
	background-color: white;
	outline: none;
	padding: 1rem;
}

p {
	font-size: 1rem;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.item-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.item-profile-pic {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: red;
	margin-right: 1rem;
	margin-left: 0.5rem;
}

.person-details {
	display: flex;
	flex-direction: row-reverse;
	height: 5rem;
	align-items: center;
}

.item-posted-time {
	margin-right: 1rem;
}

.item-name {
	font-weight: 600;
	font-size: 1.2rem;
}

.item-details {
	font-size: 1rem;
}

.item-button {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	background-color: #a055ff;
	font-size: 1rem;
	color: white;
	font-weight: 700;
	letter-spacing: 0.5px;
	border: none;
	outline: none;
	border-radius: 0.35rem;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	text-align: center;
}

.item-icon {
	width: 1rem;
	height: 1rem;
}

@media only screen and (max-width: 650px) {
	.item-container {
		display: flex;
		flex-direction: column;
		background-color: #d3d1ee;
		outline: none;
		padding: 1rem;
		border-radius: 5px;
	}
	p {
		font-size: 0.7rem;
		margin: 0;
		font-family: "Poppins", sans-serif;
	}
	.item-posted-time {
		margin-right: 0.7rem;
	}

	.item-name {
		font-weight: 600;
		font-size: 1rem;
	}

	.item-details {
		font-size: 0.7rem;
	}
	.item-profile-pic {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-color: red;
		margin-right: 1rem;
		margin-left: 0.5rem;
	}
	.item-button {
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		background-color: #a055ff;
		font-size: 0.7rem;
		color: white;
		font-weight: 700;
		letter-spacing: 0.3px;
		border: none;
		outline: none;
		border-radius: 0.35rem;
		cursor: pointer;
		transition: 0.3s;
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		text-align: center;
	}
}
